.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #bbe1fa;
}

.resume {
  display: block;
  border: none;
  height: calc(100vh - 30px);
  width: 100%;
}
