.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.resume {
  display: block;
  border: none;
  height: calc(100vh - 30px);
  width: 100%;
  align-items: center;
}

.text {
  color: #fff;
  font-size: larger;
}

.title {
  color: #fff;
  position: absolute;
  left: 11%;
  top: 30%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: xx-large;
}

.content {
  height: 90vh;
  margin-bottom: 10rem;
}

.IntroImage {
  height: 92vh;
  width: 100%;
  object-fit: cover;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.box {
  padding: 50px;
  margin: 20px 0;
}
.footer {
  color: #fff;
  margin: 3rem;
  text-align: center;
}

.about {
  margin-left: 11%;
  margin-right: 1rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.softText {
  color: lightgray;
}

.about-text {
  font-size: x-large;
}

.download-button {
  position: absolute;
  margin: auto;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
