* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
}

.resume {
  display: block;
  border: none;
  height: calc(100vh - 30px);
  width: 100%;
  align-items: center;
}

.text {
  color: #ddd;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.title-text {
  background-color: #ddd;
}

.title {
  position: absolute;
  left: 11vw;
  right: 11vw;
  top: 30vh;

  font-weight: 1000;
  font-size: xx-large;
}
.subtitle {
  font-weight: 300;
}
.content {
  height: 90vh;
  margin-bottom: 10rem;
}

.IntroImage {
  height: 92vh;
  width: 100%;
  object-fit: cover;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.box {
  padding: 50px;
  margin: 20px 0;
}
.footer {
  color: #eee;
  background-color: #333;
  margin: 3rem;
  text-align: center;
}

.about {
  margin: 11%;
}

.skills {
  margin: 11%;
}

.softText {
  font-weight: 300;
}

.about-text {
  font-size: xx-large;
}

.download-button {
  position: absolute;
  margin: auto;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

tableHead {
  font-weight: 700;

  background-color: #333;
  color: #eee;
}

